<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--<script src="controller.js"></script>-->
</head>

<body>
    <div ng-app="myApp" ng-controller="customersCtrl">
        <h5>Vuelos totales: {{getTotalVuelos()}}</h5>
        <p>
            <!--Posible siguiente paso desplegable con posibles destino y origen-->
            Origen:
            <input type="text" ng-model="origen">
            Destino:
            <input type="text" ng-model="destino">
        </p>
        <ul>
            <li ng-repeat="x in myData | filter:{ origen: origen, destino: destino}">
                {{ x.vuelo + ', ' + x.origen + ', ' + x.destino }}
            </li>
        </ul>

    </div>

    <script>
        angular.module('myApp', [])
            .controller('customersCtrl', function($scope, $http) {
                $http.get("vuelos.json").then(function(response) {
                    $scope.myData = response.data.vuelos;
                });

                $scope.getTotalVuelos = function() {
                    return $scope.myData.length;
                };
                $scope.buscarVuelo = function() {
                    return $scope.myData.length;
                };
            });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body></html>