<div class="booking-cosas">
<div class="booking-form-box">

    <div class="booking-form">
        <label>Origen</label>
        <input type="text" ng-model="origen" class="form-control" placeholder="Ciudad Origen">
        <label>Destino</label>
        <input type="text" ng-model="destino" class="form-control" placeholder="Ciudad Destino">
        <div class="input-grp">
        <label>Salida</label>
        <input type="date" ng-model="salida" class="form-control select-date">
        </div>
        <div class="input-grp">
            <label></label>
            <button type="button" class="btn btn-primary flight" ng-click="Buscarvuelos()">Mostrar Vuelos</button>
        </div>
    </div>
</div>
</div>

<div class="container-tabla" ng-if="bandera == 1 && origen != '' && origen != null">
	<table id="dtBasicExample" class="table" cellspacing="0" width="100%">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Vuelo</th>
				<th scope="col">Origen</th>
				<th scope="col">Destino</th>
				<th scope="col">Fecha de salida</th>
				<th scope="col">Fecha de llegada</th>
				<th scope="col">Bussiness</th>
				<th scope="col">Optima</th>
				<th scope="col">Economy</th>
				<th scope="col">Comprar</th>
			</tr>
		</thead>
		<tbody>

			<tr ng-repeat="x in myData | filter:{ origen: origen, destino: destino, salida:formatearFecha(salida)} | limitTo:30 ">
				<td>{{x.vuelo}}</td>
				<td>{{x.origen}}</td>
				<td>{{x.destino}}</td>
				<td>{{cambioHora(x.salida)}}</td>
				<td>{{cambioHora(x.llegada)}}</td>
				<td>{{x.bussiness+"€"}}</td>
				<td>{{x.optima+"€"}}</td>
				<td>{{x.economy+"€"}}</td>
				<td><a class="btn btn-primary" href="/#!/vuelo/{{x}}">Seleccionar</a></td>
			</tr>
		</tbody>
	</table>
</div>


